aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
colorama==0.4.4
convertdate==2.4.0
cython==0.29.30
discord==1.7.3
discord-py==1.7.3
docutils==0.18.1
multidict==6.0.2
python-dotenv==0.20.0
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
setuptools-git==1.2
sklearn==0.0
statistics==1.0.3.5
tqdm==4.64.0
pystan==2.19.1.1
fbprophet==0.7.1
meteostat==1.6.2
yarl==1.7.2